/*头部*/
.header {
    width: 100%;
    height: 90px;
    background-color: #002147;
}
/*头部内容*/
.header .div1 {
    width: 100%;
    height: 90px;
    background-color: #002147;
    margin: auto;       /*为了能够左右*/
}
/*logo内容*/
.header .div1 .div2 {
    height: 90px;
    width: 220px;
    background-image: url("https://www.jlu.edu.cn/images/logo.jpg");
    background-size: 220px 90px;
    margin-left: 100px;
    float: left;
}
/*导航*/
.header .div1 .div3 {
    height: 90px;
    float: left;
    margin-left: 100px;
}
/*导航 内容 */
.header .div1 .div3 ul li {
    float: left;
    /*前提必须有盒子的高度设置*/
    /*为了居中显示*/
    height: 90px;
    line-height: 90px;
    /*文字和边框距离*/
    padding: 0 40px;
    list-style: none;
}
/*划过显示*/
.header .div1 .div3 ul li:hover {
    border-bottom: 5px solid rebeccapurple;
    /*防止下边框溢出盒子模型 前提必须有盒子的高度设置*/
    box-sizing: border-box;
}

.div3 .active{
    border-bottom: 5px solid rebeccapurple;
    /*防止下边框溢出盒子模型 前提必须有盒子的高度设置*/
    box-sizing: border-box;
}

.header .div1 a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}